body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif;
}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

p {
  font-size: 20px;
}

.container {
  position: relative;
  width: 70%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#777;
}

.container:hover .overlay {
  opacity: 1;
}

.images_over_mij {
  border-radius: 3%;
  border-color: #777;
  border-width: 2px;
  border-style: solid;
  float: right;
  transition: all 1.5s;
}

.images_over_mij:hover {
  transform: scale(1.5);
}

.bekwaamheden_img {
  border-radius: 3%;
  border-color: #777;
  border-width: 1px;
  border-style: solid;
}

.section {
  padding: 1em;
  background-color:gray ;
  margin: 4em;
  color: white;
}

.logo {
  float:right;
  width: 25em;
  border-radius: 3%;
  border-color: #777;
  border-width: 1px;
  border-style: solid;
}

.nav_text {
  color:whitesmoke;
  font-size: 20px;
  background-color: rgba(119, 119, 119, 0.616);
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('/assets/images/image00002.jpeg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/assets/images/johanBergen.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/assets/images/xwater.png");
  min-height: 400px;
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }

}